.conteiner{
  /* width: 1200px;
  height: 400px; */
  background-color: rgb(165, 190, 211);
  border: 3px solid blue;
  /* display: flex;  */

}
.content{
border: 7px solid rgb(114, 206, 134);

}
.center{
  border: 7px solid rgb(24, 143, 50);
  flex: 1 1 auto;
}
.pacman{
  border: 7px solid rgb(57, 121, 71);
}

.head {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

    
}
.mouth {
  width: 150px;
  height: 150px;
  background-color: rgb(24, 20, 12);
  position: absolute;
  top: 50%;
  left: -25%;
    
}
.eye {
  width: 30px;
  height: 30px;
  background-color: rgb(241, 240, 237);
  border-radius: 50%;
  position: absolute;
  top:20%;
  left:20%;
}
.zrachek {
  width: 15px;
  height: 15px;
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  position: absolute;
  top:25%;
  left:20%;
}
